
#channelList {
  overflow-x: hidden;
  overflow-y: auto;
  height: 50px;
}
.channelActivity {
  text-align: center;
  font-size: 90%;
}
.channelButton {
  display: block;
  margin: 3px;
  float: left;
}

