
#channelList {
  overflow-x: hidden;
  overflow-y: auto;
  height: 60px;
}
.channelActivity {
  text-align: center;
}
.currentChannel {
  font-weight: bold;
}
.channelBtn {
  display: block;
  margin: 2px;
  float: left;
  border: 1px solid;
  white-space: nowrap;
  text-decoration: none;
  padding: 3px;
}
.channelBtn .channelBtnWrapper {
}
.channelBtnName {
  display: inline-block;
  margin-left: 2px;
  overflow: hidden;
  max-width: 100px;
}

