
#channelList {
  overflow-x: hidden;
  overflow-y: auto;
  height: 50px;
}
.channelActivity {
  text-align: center;
}
.currentChannel {
  font-weight: bold;
}
.channelButton {
  display: block;
  margin: 3px;
  float: left;
}

