.dialog {
  position: absolute;
  border: 1px solid;
}
.dialogHeader {
  border: 1px solid;
  padding: 3px;
  height: 25px;
};
.dialogTitle {
  display: inline;
}
.dialogContentContainer {
  position: absolute;
  border: 1px solid;
  border-top-width: 0px;
  top: 33px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.dialogContent {
  position: absolute;
  border: 1px solid;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  padding: 3px;
}
.dialogContent {
}
.dialogCloseBtn {
  float: right;
  cursor: pointer;
  height: 16px;
  width: 16px;
  background: transparent url( /images/cross.png ) no-repeat;
}
