body {
  overflow-y: scroll;
  overflow-x: hidden;
}

h1 { 
  padding 3px; 
  font-size: 14px;
}
form {
  margin: 3px;
}
label {
  display: block;
  width: 250px;
  float: left;
  text-align: right;
  font-size: 12px;
  padding: 5px 2px;
}
input, button {
  display: block;
  margin-left: 255px;
  padding: 2px;
}
.formItem {
  clear: both;
  margin: 3px;
}
.formItemNote {
  font-size: 12px;
  clear: both;
  text-align: center;
}
