* { padding: 0px; margin: 0px; }

body {
  font-size: 12px;
  overflow-x: hidden;
  overflow-y: scroll;
}

p {
  padding: 5px;
}

h1 {
  font-size: 16px;
  font-weight: bold;
  padding: 3px;
}

h2 {
  font-size: 14px;
  font-weight: bold;
  padding: 3px;
}

dt {
  font-weight: bold;
  padding: 3px;
}

dd {
  font-style: italic;
  padding: 3px 0px 3px 10px;
}

