#inputFormCon {
  height: 36px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#inputForm #textInput { 
  width: 100%;
  min-width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
