#textInput {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-size: 85%;
  padding: 5px 5px;
  overflow: hidden;
  min-width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.spellingError {
  display: inline-block;
  border: 0px dotted;
  border-bottom-width: 2px;
}
