#inputFormCon {
  height: 36px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
#textInput {
  font-size: 85%;
  padding: 5px 5px;
}

#inputForm #textInput {
  width: 100%;
  height: 50px;
  min-width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.spellingError {
  display: inline-block;
  border: 0px dotted;
  border-bottom-width: 2px;
}
