#linkLog {
  font-size: 95%;
}
#linkLog h1 {
  font-size: 110%;
}
#linkLog h2 {
  font-size: 105%;
}
#linkLog h3 {
  font-size: 100%;
}
.linkLogItem {
  margin-bottom: 30px;
  border: solid 1px;
  padding: 5px;
}
.linkLogItem .meta,
.linkLogItem .headers {
  margin-bottom: 15px;
}
.extraLinkInfoCon .extraLinkInfoConTitle {
  text-decoration: underline;
}
.extraLinkInfo {
  border: solid 1px;
  padding: 5px;
}
#linkLog table {
  width: 100%;
}
#linkLog th {
  font-style: italic;
}
#linkLog th,
#linkLog td {
  padding: 3px;
  text-align: center;
}
#linkLog td.link,
#linkLog th.link {
  text-align: right;
}
