* { margin: 0px; padding: 0px; }

#view {
  border: 1px solid;
}

#titleBar {
  height: 30px;
}

#titleBar h1 {
  font-size: 90%; 
}

#mainWindow {
  position: absolute;
  top: 95px;
  left: 0px;
  right: 0px;
  bottom: 35px;
}

.hidden {
  display: none !important;
}

