/* colors all go in themes */

body {
  background-color: #FFF:
}

a {
  color: blue;
}
#view {
  border-color: #999;
}
#activityWindow {
  border-color: #999;
}
.messageNick {
  color: #B22222;
}
.isServer {
  color: #00AC6B;
}
.isNotice {
  color: #FF0000;
}
.messageText {
  border-color: #999;
}
#activityWindow {
  border-color: #999;
}
.hasActivity {
  color: #FF0000;
}
.channelActivity {
  background-color: #FFAA00;
  color: #FFF;
}
.referencesUser {
  font-weight: bold;
  color: #FFAA00;
}
.isSelf {
  color: #666;
}
.highlight {
  background-color: #FF0000 !important;
  color: #FFF !important;
}
#nickList {
  color: #000;
  border-color: #999;
}
#nickList .op {
  color: #FF0000;
}
#nickList .halfOp {
  color: #FFF000;
}
#nickList .voiced {
  color: #00AC6B;
}

.channelBtn {
  border-color: #999;
  color: #000;
}

#titleBar {
  background: #FFF;
  border-color: #999;
}
#titleBar a {
  color: #000;
}
#popup {
  background-color: #FFF;
  color: #000;
}
.linkLogItem,
.extraInfo {
  border-color: #999;
}

.spellingError {
  border-color: #FF0000;
}

/* DIALOG */
.dialog {
  background: #FFF;
  border-color: #999;
}
.dialogHeader {
  background: #F9F9F9;
  border-color: #DDD;
}
.dialogContent, .dialogContentContainer {
  border-color: #DDD;
}
.dialogContentContainer {
  background: #FEFEFE;
}
.dialogContent {
  background: #FFF;
}
#textInput {
  border-color: #999;
}

