/* colors all go in themes */

a {
  color: blue;
}
#view {
  border-color: #444;
}
#activityWindow {
  border-color: #444;
}
.isServer {
  color: #00AC6B; 
}
.isNotice {
  color: #FF0000;
}
.messageText {
  border-color: #444;
}
#activityWindow {
  border-color: #444;
}
.hasActivity {
  color: #FF0000;
}
.channelActivity {
  background-color: #FFAA00;
  color: #FFF;
}
.referencesUser {
  font-weight: bold;
  color: #FFAA00;
}
.isSelf {
  color: #666;
}
.highlight {
  background-color: #FF0000 !important;
  color: #FFF !important;
}
#nickList .op {
  color: #FF0000;
  border-color: #000;
}
#nickList .halfOp {
  color: #FFF000;
}
#nickList .voiced {
  color: #00AC6B; 
}

.channelBtn {
  border-color: #000;
  color: #000;
}

#titleBar {
  background: #fff;
  border-color: #000;
}
#titleBar a {
  color: #000;
}
