/* colors all go in themes */

a {
  color: #ac5353;
  text-decoration: none;
  border-bottom: 1px dotted #ac5353;
}
#view {
  border-color: #aca899;
}
#activityWindow {
  border-color: #aca899;
  padding-bottom: 5px;
}
.messageNick {
  color: #c3c3c3;
  width: 120px !important;
  display: block;
  float: left;
  padding: 2px;
  padding-left: 20px;
}
.messageText {
	padding: 2px;
  display: block;
  float: left;
}
.isServer {
  color: #10ac6b; 
}
.isAction {
  color: #10ac6b; 
}
.isNotice {
  color: #ffffff;
}
.messageText {
  border-color: #aca899;
}
#activityWindow {
  border-color: #aca899;
	background: #242424;
	color: #c3c3c3;
}
.useroption {
	color: #b5514a;
}
.hasActivity {
  color: #FF0000;
}
.channelActivity {
  background-color: #5d5d5d;
  color: #FFF;
}
.referencesUser {
  font-weight: bold;
  color: #b5514a;
}
.isSelf {
  color: #ac5353;
}
.highlight {
  background-color: #FF0000 !important;
  color: #FFF !important;
}
#nickList {
	background: #242424;
	color: #5d5d5d;
}
#nickList .op {
  color: #b5514a;
  border-color: #000;
}
#nickList .halfOp {
  color: #FFF000;
}
#nickList .voiced {
  color: #00AC6B; 
}
#mainwindow {
	background: #242424;
	color: #c3c3c3;
}
.channelBtn {
  border-color: #000;
  color: #000;
}

#titleBar {
  background: #242424;
  border-color: #c3c3c3;
}
#titleBar a {
  color: #c3c3c3;
  text-decoration: none;
}
#popup {
  background-color: #242424;
  color: #c3c3c3; 
}
#popup a {
	border: none; 
}
.linkLogItem,
.extraInfo {
  border-color: #000;
}
.messageTime {
	background: #2d2d2d;
	width: 70px !important;
	text-align: center;
	display: block;
	float: left;
	clear: both;
	padding: 2px;
}
.message {
	margin-top: 0;
	margin-bottom: 0;
}