/* colors all go in themes */
/* primary colors for ocean blue theme
  #7F0000 dark red	
  #7F2626 mid red
  #CC0000 light red 
  #FF0000 bright red
  #FF4C4C pale red
  #EBE2C3 tan
  #ECCD65 yellow tan
  #A4A9AD gray
 * 
 * */

body {
  background-color: #7F0000;
}
a {
  color: #EBE2C3;
}
.messageText {
  color: #A4A9AD;
}
#view {
  border-color: #CC0000;
}
#activityWindow {
  border-color: #CC0000;
}
.messageNick {
  color: #FF4C4C;
}
.isServer {
  color: #FF0000; 
}
.isNotice {
  color: #ECCD65;
}
#activityWindow {
  border-color: #CC0000;
  background-color: #000;
}
.hasActivity {
  color: #EBE2C3;
}
.channelActivity {
  background-color: #CC0000;
  color: #FFF;
}
.referencesUser {
  font-weight: bold;
  color: #FFF;
}
.isSelf {
  color: #FF4C4C;
}
.highlight {
  background-color: #FFF !important;
  color: #7F2626 !important;
}
#nickList {
  border-color: #CC0000;
  color: #FF0000;
}
#nickList .op {
  color: #FFF;
}
#nickList .halfOp {
  color: #A4A9AD;
}
#nickList .voiced {
  color: #FF4C4C; 
}

.channelBtn {
  border-color: #FF0000;
  color: #FF0000;
}

#titleBar {
  background: #7F2626;
  border-color: #EBE2C3;
}
#titleBar a {
  color: #EBE2C3;
}
#textInput {
  background-color: #7F2626;
  border-color: #CC0000;
  color: #FFF;
}
.currentChannel {
  border-color: #ECCD65;
  color: #ECCD65;
}
.messageTime {
  color: #A4A9AD;
}
#popup {
  background-color: #7F0000;
  color: #FF0000; 
}
.linkLogItem,
.extraInfo {
  border-color: #CC0000;
}




